.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 30px auto;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}
.Weather h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 64px;
  font-weight: 400px;
  position: fixed;
  margin-left: 2px;
  margin-top: 20px;
}
.Weather canvas {
  height: 70px;
  margin: 10px auto;
  width: 60px;
  margin-right: 10px;
  display: inline-block;
}
.Weather .unit {
  font-size: 20px;
  font-weight: 400;
  position:relative;
  top: -45px;
  margin-left: 60px;
  line-height: 1;
  margin-top: 30px;
}
